body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #d8ffd8;
  color: #000;
}

header {
  text-align: center;
  background-color: #d8ffd8;
  padding-top: 10px;
}

header h1 {
  font-size: 45px;
  color: #014d00;
  letter-spacing: 2px;
  font-weight: 900;
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

.logo {
  height: 70px;
}


main {
  text-align: center;
  padding: 30px;
}

main h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
}


.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 35px;
  justify-items: center;
  padding-bottom: 50px;
}

.foto {
  background-color: #fff;
  border: 3px solid darkgreen;
  width: 280px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.foto:hover {
  transform: scale(1.05);
}

.foto img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.foto p {
  margin: 10px 0;
  font-weight: bold;
  font-size: 16px;
}

.infra-texto {
  background-color: #e8ffee; 
  border: 2px solid #003300; 
  max-width: 900px;
  margin: 40px auto; 
  padding: 25px 35px;
  border-radius: 3px;
  text-align: justify;
  line-height: 1.7;
  font-size: 17px;
  color: #000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.infra-texto p {
  text-align: center; 
}